.vertical-list-table{
	width:80%;
	margin:auto;
	height:50px;
	margin-top:20px;
	margin-bottom:20px;
	border-spacing:0;
	border-collapse:collapse;
}

.vertical-list-table th{
	background-color:#2e8b57;
	color:white;
	width:30%;
	border:1px solid lightgray;
	text-align:left;
	padding: 10px;
}

.vertical-list-table td{
	background-color:#ffffff;
	width:70%;
	border:1px solid lightgray;
	padding:5px;
}

.txt{
	background-color:#fffdd0;
	width:95%;
	height:30px;
	margin:5px;
	padding-left:10px;
}

.flag{
	margin-left:10%;
	cursor:pointer;
}

.submit_btn_box{
	text-align: center;
	margin: 10px;
	padding-bottom: 5px;
}